html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}
a:visited {
  color: #85b4ff;
}
a {
  color: #85b4ff;
}
body {
  background-color: #323232;
}
#main {
  width: 80%;
  padding: 20px;
  padding-top: 5px;
  margin: auto;
}
#project-container {
}
.project {
  background-color: rgb(95, 95, 95);
  padding: 15px 42px;
  height: 80vh;
}
.project-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
}
.item {
  position: block;
  margin: auto;
  padding-top: 5%;
}
#pg {
  z-index: 2;
  display: block;
  padding: 20px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 150px;
  border: 5px solid black;
  text-align: center;
  font-family: sans-serif;
  visibility: hidden;
}
#rain {
  width: 50%;
  height: 50%;
}
.project-description {
  font-size: 1.3em;
}

#edit {
  font-size: 3em;
}

#arrow-left {
  font-size: 3em;
  position: absolute;
  left: 5%;
  top: 40%;
  cursor: pointer;
  user-select: none;
}
#arrow-right {
  font-size: 3em;
  position: absolute;
  right: 5%;
  top: 40%;
  cursor: pointer;
  user-select: none;
}
